html { 
    height: 100%;
}
body { 
    height: 100%; 
    margin-left: 3%; 
    margin-right: 0;
    padding: 0 }

#map-canvas {
    margin-right: 10px;
    height: 470px;
}

#container{
    margin-right: 10px
}

p span.droite{
    float:right;
}

.map{
    float:right;
}

#container{
    margin-right: 10px
}

p span.droite{
    float:right;
}

.correct{
    background-color: rgb(242, 242, 242);
}

.incorrect{
    background-color: #fba;
}